<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>메모 게시판</title>

        <!-- style -->
        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            .wrap {
                width: 900px;
                margin: auto;
            }

            .comment {
                color: blue;
                font-weight: bold;
            }

            #post-box {
                width: 900px;
                margin: 20px auto;
                padding: 50px;
                border: black solid;
                border-radius: 5px;
            }

            #postClose {
                margin: 10px;
            }

            #openMemo {
                border: 2px solid #F0F;
                width: 900px;
                margin: 20px auto;
                padding: 10px;
                display: none;
            }

            #postingBtn {
                float: right;
            }
        </style>
        <script>
            $(document).ready(function () {
                showMemo();
            });

            // 새글 쓰기 버튼을 눌렀을때
            function postOpen() {
                $("#post-box").show();
                $("#posting").hide();
            }

            //닫기 버튼을 눌렀을때
            function postClose() {
                $("#post-box").hide();
                $("#posting").show();
            }

            //글 썼을때
            function postMemo() {
                // alert("포스트 박스 안의 글쓰기 버튼 눌림");

                let title = $("#post-title").val()
                let content = $("#post-content").val()


                let now = new Date();
                let date = now.toLocaleDateString('en-US');

                $.ajax({
                    type: "POST",
                    url: "/memo",
                    data: {"title": title, "content": content, "date": date},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        }
                    }
                })
            }

            //게시글 불러오기
            function showMemo() {
                //alert("게시글 불러오기");
                $.ajax({
                    type: "GET",
                    url: "",
                    data: {},
                    success: function (response) {

                    }
                })
            }

            //게시글 눌렀을때 하나의 메모
            function memoOpen() {
                alert("메모 오픈");
                $("#openMemo").show();

                $.ajax({
                    type: "GET",
                    url: "",
                    data: {},
                    success: function (response) {

                    }
                })


            }

        </script>

    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4">메모 게시판!</h1>
                <p class="lead">나만의 게시판 형태의 메모장</p>
            </div>

            <div id="post-box" class="form-post" style="display:none">
                <div>
                    <div class="form-group">
                        <label for="post-title">제목</label>
                        <input id="post-title" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="post-content">내용</label>
                        <textarea id="post-content" class="form-control" rows="5"></textarea>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="postMemo()">글쓰기</button>
                    <button type="button" class="btn btn-primary" id="postClose" onclick="postClose()">닫기</button>
                </div>
            </div>

            <div id="openMemo">
                <table class="table">
                    <thead>
                    <tr class="table-active">
                        <th scope="col" style="width: 60%">제목<br>
                            아이디
                        </th>
                        <th scope="col" style="width: 40%" class="text-right">
                            <br> 날짜
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <pre>내용</pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button id="editBtn" type="button" class="btn btn-primary">수정</button>
                <button id="deleteBtn" type="button" class="btn btn-primary">삭제</button>
            </div>


            <button id="postingBtn" type="button" class="btn btn-primary" onclick="postOpen()">글쓰기</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr onclick="memoOpen()">
                    <th scope="row">1</th>
                    <td>제목</td>
                    <td>글쓴이</td>
                    <td>작성일</td>
                </tr>
                </tbody>
            </table>

        </div>
    </body>

</html>